<!DOCTYPE html">
<html>
<head>
    <title>靠谱筹轻博客</title>
    <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	{% include "common/header.html" %}

	<div class="index-area">
		<div class="post-list">
			{% for post in posts %}
				<div class="post-detail">
					<h2>
						<span class="post-title">{{ post.title }}</span>
						<span class="post-username">{{ post.user.username }}</span>
					</h2>
					<p class="post-content">{{ post.content }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="/static/bower/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower/jquery/dist/jquery.min.js"></script>
</body>
</html>