<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <link rel="stylesheet" href="static/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
	{% include "common/header.html" %}

	<div class="register-area">
		<form action="register" method="post">
		  <div class="form-group">
		    <label htmlFor="inputEmail">邮箱(必填)</label>
		    <input type="text" name="email" class="form-control" id="inputEmail" />
		  </div>
		  <div class="form-group">
		    <label htmlFor="inputUsername">用户名</label>
		    <input type="text" name="username" class="form-control" id="inputUsername" />
		  </div>
		  <div class="form-group">
		    <label htmlFor="inputPassword">密码</label>
		    <input type="password" name="password" class="form-control" id="inputPassword" />
		  </div>
		  <button type="submit" class="btn btn-default" >注册</button>
		  {{ form.csrf_token }}
		</form>
	</div>
</body>
</html>